{% extends 'base.html' %}

{% block title %}

    Lista de Tipos de Obras - {{ block.super }}

{% endblock title %}

{% block body %}

    <div class="container">
        <br />
        <h5><b>Lista de Tipos de Obras</b></h5>
        <div class="row">
            <div class ="col-md-12">
                <br />
                    <a href="{% url 'tipo:add_tipo' %}">Cadastro de novo tipo de obra</a>
                <br />
                <br />
                <table class="table table-hover">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Descricao</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for tipo in tipo %}
                        <tr>
                            <th scope="row">{{ tipo.id }}</th>
                            <td>{{ tipo.name }}</td>
                            <td>{{ tipo.description }}</td>
                            <td>
                                <a href="{% url 'tipo:edit_tipo' tipo.id %}" class="btn btn-primary btn-sm">Editar</a>
                            </td>
                            <td>
                                <a href="{% url 'tipo:delete_tipo' tipo.id %}" class="btn btn-danger btn-sm ">Excluir</a>
                            </td>
                        </tr> 
                    {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock body %}